#content {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100%;
}

#octoprotectogame {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.lobbymenu {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.5);
    text-align: center;
}

.gamenotification {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.5);
    text-align: center;
}

.upgrademenu {
    position: absolute;
    z-index: 4;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
}

.displaytop {
    top: 15%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table, th, td {
    border: 1px solid black;
    empty-cells: hide;
}

.displaybottomleft {
    top: 90%;
    left: 2%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.displaybottomright {
    top: 90%;
    left: 85%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}