@page
@model Dumdum.Pages.Zombbomb.Zombbomb_HostModel
@{
    <!DOCTYPE html>
    <html>
    <head>
        <script src="/lib/signalr/dist/browser/signalr.js"></script>
        <script src="/phaser/phaser.js"></script>
        <script src="/js/Zombbomb/Zombbomb_Common.js"></script>
        <script src="/js/Zombbomb/Zombbomb_Lobby_App.js"></script>
        <meta charset="utf-8" />
        <title>ZOMBBOMB HOST</title>
    </head>
    <body>
        <div class="state" id="joinroom">
            <div style="text-align:center" class="display-4">
                <u>GAME PARAMETERS</u><br />
                ZOMBIE SPEED: <input type="number" step="1" min="1" max="99" value="40" id="zombiespeed" /><br />
                PLAYER SPEED: <input type="number" step="1" min="1" max="99" value="40" id="playerspeed" /><br />
                EXPLODE TIMER: <input type="number" step="1" min="1" max="9999" value="2000" id="explodetimer" /><br />
                RELOAD TIME: <input type="number" step="1" min="1" max="9999" value="2000" id="reloadtime" /><br />
                RESPAWN TIME: <input type="number" step="1" min="1" max="99999" value="5000" id="respawntime" /><br />
            </div>
            <div style="text-align:center" class="display-1">
                <input type="button" id="createroombutton" value="CREATE" />
            </div>
        </div>
    </body>
    </html>
    <script src="common.js"></script>
    <script src="gamelobby.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
}
