@page
@model Dumdum.Pages.OctoprotectoModel
@{
    <!DOCTYPE html>
    <html>
    <head>
        <script src="/lib/signalr/dist/browser/signalr.js"></script>
        <script src="/phaser/phaser.js"></script>
        <!-- Manually piece the dependent pieces together -->
        <script src="/js/Octoprotecto/Fish.js"></script>
        <script src="/js/Octoprotecto/Octoprotecto_Host.js"></script>
        <meta charset="utf-8" />
        <title>OCTOPROTECTO</title>
    </head>
    <body>
        <style>
            html, body {
                margin: 0px;
                padding: 0px;
                overflow: hidden;
                height: 100%;
            }
        </style>
        <div id="content"></div>
    </body>
    </html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
}
