@page
@model Dumdum.Pages.OctoprotectoModel
@{
    <!DOCTYPE html>
    <html>
    <head>
        <script src="/lib/signalr/dist/browser/signalr.js"></script>
        <script src="/phaser/phaser.js"></script>
        <!-- Manually piece the dependent pieces together -->
        <script src="/js/Octoprotecto/Fish.js"></script>
        <script src="/js/Octoprotecto/Weapon.js"></script>
        <script src="/js/Octoprotecto/Octopus.js"></script>
        <script src="/js/Octoprotecto/WaveManager.js"></script>
        <script src="/js/Octoprotecto/Octoprotecto_Startmenu.js"></script>
        <script src="/js/Octoprotecto/Octoprotecto_Host.js"></script>
        <script src="/js/Octoprotecto/Octoprotecto_Controller.js"></script>
        <script src="/js/Octoprotecto/Solorunmod.js"></script>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/OctoProtecto/app.css" type="text/css" />
        <title>OCTOPROTECTO</title>
    </head>
    <body>
        <div id="content">
            <div id="octoprotectogame"></div>
            <div id="lobbymenuinitial" class="display-1 lobbymenu" @(string.IsNullOrEmpty(Model.RoomId) ? "" : "hidden='true'")>
                <input type="button" id="joingamebutton" value="JOIN" />
                <hr />
                <input type="button" id="hostgamebutton" value="HOST" />
                <hr />
                <input type="button" id="sologamebutton" value="SOLO RUN" />
            </div>

            <div id="lobbyhostcontent" class="display-3 lobbymenu" hidden="true">
                <input type="button" id="generatelinkbutton" value="GET LINK" onclick="GenerateLink()" class="display-5" />
                <div id="gameidtext">WAITING FOR GAME ID...</div>
                <input type="button" id="startgamebutton" value="START" />
            </div>

            <div id="lobbyjoingamemenu" class="display-1 lobbymenu" @(string.IsNullOrEmpty(Model.RoomId) ? "hidden='true'" : ""))>
                COLOR
                <input type="color" id="colorpicker" value="">
                <hr />
                <input type="text" id="roomid" maxlength="5" size="5" placeholder="ROOM ID" oninput="this.value = this.value.toUpperCase()" value="@Model.RoomId" /><br />
                <input type="button" id="joinroombutton" value="JOIN" />
            </div>

            <div id="lobbywaitingforserver" class="display-3 lobbymenu" hidden="true">
                <div id="waitingmessage">WAITING FOR SERVER...</div>
                <input type="button" id="resetstatebutton" value="RESET" />
            </div>
        </div>
    </body>
    </html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
}
