@page
@model Dumdum.Pages.Swollball.Swollball_LobbyListModel
@{
    <table border="1">
        <th>Room ID</th>
        <th>Updated Time</th>
        <th>Player Count</th>
        <th>Round Number</th>
        @foreach (var room in Model.Rooms)
        {
            <tr>
                <th><a href='/Swollball/Insight?RoomId=@room.Item1'>@room.Item1</a></th>
                <th>@room.Item2.ToString()</th>
                <th>@room.Item3.ToString()</th>
                <th>@room.Item4.ToString()</th>
            </tr>
        }
    </table>
    <br />
}
